
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo-icon {
    margin-top: 20px;
   
}

.hero-area {
    background-image: 
                    url('/Images/images/headphones_hero_1.jpg');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    padding: 20px;
    padding-top: 0;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0px;
    margin-top: 0rem;

}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;

}
nav a:hover {
    color: #a259ff;
}

#landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
#call-to-action {
    background-color: #FF6565;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 22px;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1rem;
    display: block;
  transition: background-color 0.5s ease;
}
#call-to-action:hover{
    color: lightblue;
    background-color: #eb3d3d;
}
#title {
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    display: flex;
}

.long-text {
    max-width: 60rem;
}
.whatwedo {
    display: flex;
    justify content: center;
    text-align: center;
    align-items: center;
    min-height: 60vh;

}
.whatwedoparagraph {
    padding-left: 20rem;
}